@media only screen and (min-width: 680px) {

    header,
    nav,
    main,
    footer {
        max-width: 1400px;
        margin: 0 auto;
    }

    .header {
        grid-template-columns: 24PX auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }
}